* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.header {
  position: relative;
  background-color: rgb(9, 52, 93);
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}

.container-title {
  width: 80%;
  cursor: default;
}

.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
  padding-left: 30px;
}

.container-cartTitle {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(0, 33, 65);
  width: 40%;
  height: 100%;
  margin-left: 30px;
  cursor: default;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: black;
  transform: skew(-45deg);
  z-index: 0;
}

.container-cartTitle:before {
  content: '';
  position: absolute;
  top: 30px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: black;
  transform: skew(45deg);
  z-index: 0;
}

.container-cartTitle .cart__title {
  color: white;
  font-size: 20px;
  padding-left: 35px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: justify;
  margin: 40px 0;
}

.item {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  border: 5px solid rgb(0, 33, 65);
  border-radius: 65px 65px 10px 10px;
  box-sizing: border-box;
  background-color: rgb(0, 33, 65);
  box-shadow: 3px 3px 4px 0 rgb(117 127 137);
}

.item:hover {
  background-color: rgb(9, 52, 93);
  transform: scale(1.1);
  transition: all 0.5s;
}

.item .item__sku {
  display: none;
}

.item__image {
  width: 100%;
  border-radius: 60px 60px 0 0;
}

.item .item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  background-color: rgb(241, 241, 238);
  cursor: default;
}

.item__price {
  color: white;
  display: flex;
  justify-content: center;
  font-weight: 900;
  width: 90px;
  flex-direction: row;
  margin: auto;
  cursor: default;
}

.item .item__add {
  background-color: rgb(255 75 75);
  border: 0;
  cursor: pointer;
  padding: 10px;
  color: white;
  border-radius: 100px;
  margin: auto;
}

.item__add:hover {
  background-color: rgb(255 75 75);
  color: black;
  transform: scale(1.1);
  transition: all 0.5s;
}

.cart {
  display: flex;
  flex-basis: 32%;
  flex-flow: column wrap;
  background-color: rgb(241, 241, 238);
  height: 70vh;
}

.cart .cart__items {
  height: 500px;
  overflow-y: scroll;
  cursor: grabbing;
}

.empty-cart {
  width: 170px;
  height: 35px;
  margin: 0 auto;
  border: 2px solid rgb(0, 33, 65);
  background-color: white;
  cursor: pointer;
}

.total-price {
  position: inherit;
  margin: 40px;
}

.loading {
  font-size: xx-large;
  margin: auto;
  font-weight: 800;
  color: blue;
}

.material-icons {
  cursor: default;
}
